<h3>Comments</h3>
<% @post.comments.each do |comment| %>
	<div class="card" style="background-color: #ededed; border-color: #ededed;">
		 <div class="card-block">
		<p><strong><%= comment.username %></strong>: <%= comment.body %>
		<%= link_to '(X)',[comment.post, comment],
					method: :delete,
					data: {confirm: 'Are you sure?'} %>
		</p>
		</div>
	</div>
<% end %>